.uvc-popup {
  &-trigger {

  }

  &-dialog {

  }
}

#uvc-popup-layer {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

// 

.uvc-popup {
  &-trigger {
    &--active {
      background-color: blue;
    }
  }

  &-dialog {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .2s ease-in-out;
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 4px;
    width: fit-content;
    cursor: default;

    &--active {
      opacity: 1;
      visibility: visible;
      position: relative;
    }
  }
}

#uvc-popup-layer {
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  background-color: rgba($color: #000000, $alpha: .4);
  cursor: pointer;
}

.uvc-popup-layer--active {
  opacity: 1 !important;
  visibility: visible !important;
}