@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.uvc {
  &-fv {
    &-fvError {
      &-node {
        background-color: red;
      }

      &-text {
        color: red;
      }

      &-field {
        border: 1px solid red;
      }
    }
  }

  &-tabs {
    &_actions {}

    &-contents {}

    &-tab {
      &_action {
        &--active {}
      }

      &_content {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &--active {
          opacity: 1;
          visibility: visible;
          position: relative;
        }
      }
    }
  }
}

//

.uvc {
  &-tabs {
    &-actions {
      display: flex;
      gap: 12px
    }

    &-contents {
      display: flex;
    }

    &-tab {
      &_action {
        &--active {
          background: red;
        }
      }

      &_content {
        transition: .2s ease-in-out;
      }
    }
  }

  &-ticker {
    &-container {
      background: red;
      overflow-x: hidden;
    }

    &-collection {
      background: blue;
      
      &--1 {
        background: aqua;
      }

      &--2 {
        background: green;
      }
      
      &--3 {
        background: brown;
      }
    }
    
    &-item {
      margin: 0 4px;
      background: white;
    }
  }
}