#uvc-popup-layer {
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .4);
}

.uvc-popup-layer--active {
  visibility: visible !important;
  opacity: 1 !important;
}