.uvc-tabs {
  &_actions {}

  &-contents {}

  &-tab {
    &_action {
      &--active {}
    }

    &_content {
      opacity: 0;
      visibility: hidden;
      position: absolute;

      &--active {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  }
}