@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.uvc {
  &-burger {
    &-menu {
      transition: .2s ease-in-out;
  
      opacity: 0;
      visibility: hidden;
  
      &--active {
        opacity: 1;
        visibility: visible;
      }
    }
  
    &-trigger {
      transition: .2s ease-in-out;
      
      &--active {
        background-color: blue;
      }
    }
  }

  &-fv {
    &-fvError {
      &-node {
        background-color: red;
      }
  
      &-text {
        color: red;
      }

      &-field {
        border: 1px solid red;
      }
    }
  }
}